@charset "UTF-8";
footer {
    background-color: #363636;
    border: 1px solid #363636;
    color: #969696;
    padding: 15px 0;
}

footer div.content {
    width: 920px;
    margin: 0 auto;
    overflow: hidden;
}

footer ul {
    float: left;
    width: 150px;
    margin-left: 50px;
}

footer ul li {
    line-height: 28px;
}

footer ul h3 {
    font-size: 16pt;
    font-weight: normal;
    margin: 10px auto;
}

footer p[class^="wei"] {
    width: 215px;
    height: 114px;
    float: left;
    background-color: #F66268;
    margin-top: 8px;
    margin-right: 20px;
}

footer div.content div {
    padding: 20px;
    clear: left;
    text-align: center;
}